.card {
  border-radius: 10px;
  overflow: hidden;
}

.card :first-child {
  border-radius: 10px 10px 0 0;
}

.card :last-child {
  border-radius: 0 0 10px 10px;
}

.cardHeading {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.01rem;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.cardLinks {
  color: #05fbff;
  margin-bottom: 20px;
}

.cardLinks a {
  align-items: center;
  color: #05fbff;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.4s color;
}
.cardLinks a:visited {
  color: #05fbff;
}

.cardLinks a:hover {
  color: white;
}

.linkIcon {
  margin-left: 10px;
}
